
<h3>Edit <%= @pet.name%></h3>

<form action="/pets/<%= @pet.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label>Pet Name:</label>
  <input type="text" name="name" value="<%=@pet.name%>">
  <label>DOB:</label>
  <input type="text" name="age" value="<%=@pet.dob%>">
  <label>Weight:</label>
  <input type="text" name="weight" value="<%=@pet.weight%>">
  <label>Breed:</label>
  <input type="text" name="breed" value="<%=@pet.breed%>">
  <label>Species</label>
  <input type="text" name="species" value="<%=@pet.species%>">
  <input type="submit" value="Update Pet">
</form>