<link rel="stylesheet" href="/stylesheets/views.css">
<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
<% end %>

<h1>Welcome, <%= @user.username %>!<br>

<h2>Your Pets</h2>
<%list_user_pets%>
<% @pet_objs.each do |pet| %>
  <ul>
  <% pet.each do |pet_attribute, attribute_value| %>
    <%if pet_attribute != "id"%>
      <li><strong><%= pet_attribute.capitalize %>:</strong> <%= attribute_value.presence || "N/A"%></li>
    <%end%>
  <% end %>
  </ul>
  <form action="/pets/<%=pet["id"]%>" method="GET">
    <input type="submit" value="View">
  </form><br>
<%end%>
  
<h3>Click <a href="/pets/new">here</a> to add pet</h3>