<link rel="stylesheet" href="/stylesheets/views.css">
<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
<% end %>

<h1>Welcome, <%= @user.username %>!<br>

<h2>Your Pets</h2>


<% list_user_pets %>
  <ul>
  <% if current_user.pets.count > 0 %>
    <% @new_obj.each do |pet_attribute, attribute_value| %>
      <li><strong><%= pet_attribute.capitalize %>:</strong> <%= attribute_value %></li>
    <% end %>
  <% end %>
  </ul>
<h3>Click <a href="/pets/new">here</a> to add pet</h3>

<% @pet_objs.each do |pet| %>
  <%= @pet.name%>
<% end %>